* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'sans';
}

@font-face {
  font-family: 'sans';
  src: url('./px.ttf');
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

#buttons {
  position: fixed;
  top: 30px;
}

button {
  background: white;
  border-radius: 20px;
  border: solid 1px black;
  cursor: pointer;
}

#buttons button {
  width: 130px;
  padding: 7px;
  margin: 0 10px;
}

button:disabled {
  color: lightgrey;
  border-color: lightgrey;
}

#controls-panel {
  position: fixed;
  top: 20px;
  left: 20px;
  display: flex;
  flex-direction: column;
  z-index: 10;
}

.settings-panel {
  background: white;
  border: solid 1px black;
  border-radius: 15px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  width: 295px;
}

.settings-panel div:not(:last-child) {
  margin-bottom: 5px;
}

.settings-panel p {
  margin-bottom: 15px;
  opacity: 0.45;
  font-size: 15px;
}

button.download {
  padding: 15px;
  border-radius: 50px;
  transition: box-shadow 0.2s ease-in-out;
}

button.download:disabled {
  cursor: default;
}

input,
select,
.switch {
  margin-right: 10px;
  outline: none;
  padding: 5px 10px;
  width: 65px;
  border: solid 1px black;
  border-radius: 20px;
  height: 28px;
  font-size: 13px;
}

select {
  padding: 5px;
  text-overflow: ellipsis;
}

label {
  font-size: 13px;
}

div span {
  color: rgb(160, 160, 160);
  margin-left: 5px;
  font-size: 13px;
}

#loop-control {
  display: flex;
  align-items: center;
}

.switch {
  position: relative;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.switch-dot {
  left: 5px;
  width: 18px;
  height: 18px;
  background: black;
  opacity: 30%;
  position: absolute;
  border-radius: 50%;
}

.switch.active .switch-dot {
  opacity: 100%;
  left: 40px;
}

.settings-panel div.switch {
  margin-bottom: 0;
}

#scanimate-button {
  margin-top: 10px;
  padding: 10px;
  background: black;
  color: white;
  width: 100%;
}

.displayable-canvas {
  position: absolute;
}

.displayable-canvas,
#grids,
.grid {
  max-width: 70vh;
  max-height: 70vh;
}

#loader {
  position: absolute;
  font-size: 5vw;
}

#grids {
  position: absolute;
}

#grid-slider {
  position: fixed;
  bottom: 55px;
  width: 50vw;
}

div:has(> input) {
  height: 28px;
  display: flex;
  align-items: center;
}

input[type='range']:focus {
  outline: none;
}

input[type='range']:disabled {
  opacity: 30%;
  cursor: default;
}

input[type='range'] {
  appearance: none;
  outline: none;
  cursor: pointer;
  padding: 0;
  height: 1px;
  background: black;
  border-radius: 5px;
  border: none;
}

input[type='range']::-webkit-slider-thumb {
  outline: none;
  appearance: none;
  width: 10px;
  height: 10px;
  background: black;
  border-radius: 50%;
}

#frames_amount {
  margin-left: 8px;
  width: 50px;
}

label[for='frames_amount'] {
  margin-left: 7px;
}

input[type='range']#grid-slider {
  height: 38px;
  border-radius: 30px;
  padding: 7px;
  background: none;
  border: solid 1px black;
}

input[type='range']#grid-slider::-webkit-slider-thumb {
  width: 26px;
  height: 26px;
}

#grid-label {
  position: absolute;
  bottom: 30px;
}

#upload-video-button {
  height: 150px;
  margin: 20px 0px;
  width: 100%;
  padding: 7px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
}

#upload-video-button label {
  cursor: pointer;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

#upload-video-button label div {
  border: solid 1px black;
  border-radius: 100px;
  background: rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(5px);
  padding: 10px;
  width: 100%;
}

#upload-video-button input {
  display: none;
}

#upload-video-button video {
  z-index: 0;
  position: absolute;
  height: 100%;
}

.hidden,
div.hidden {
  display: none;
}

/* HEADER */
header {
  line-height: 25px;
  text-align: right;
  width: 25vw;
  font-size: 22px;
  position: absolute;
  top: 15px;
  right: 10px;
  padding: 15px 20px;
}

/* CREDITS FOOTER */
footer#credits {
  backdrop-filter: blur(5px);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 15px;
  right: 10px;
  padding: 15px 20px;
  font-size: 18px;
}

a {
  color: black;
  text-decoration: none;
  border-bottom: solid 1px black;
}

a#title {
  border-width: 1.8px;
}

a#repository-link {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  border: solid 1px black;
  border-radius: 25px;
  padding: 5px 15px;
}

a#repository-link span {
  margin-left: 7px;
}

a#portfolio-link {
  margin: 0 5px;
}

a#repository-link:hover,
a#portfolio-link:hover {
  color: blue;
  border-color: blue;
}

a#repository-link:hover svg g {
  stroke: blue;
}
