* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'sans';
}

@font-face {
  font-family: 'sans';
  src: url('./px.ttf');
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

#shape {
  max-height: 80vh;
  width: 55vw;
  max-width: 80vh;
  min-width: 600px;
  padding: 40px 80px 100px 80px;
}

#buttons {
  position: fixed;
  top: 30px;
}

button {
  background: white;
  border-radius: 20px;
  border: solid 1px black;
  cursor: pointer;
}

#buttons button {
  width: 130px;
  padding: 7px;
  margin: 0 10px;
}

.hidden,
div.hidden {
  display: none;
}

#back-button {
  padding: 7px 12px;
  top: 30px;
  right: 40px;
  position: fixed;
}

button:disabled {
  color: lightgrey;
  border-color: lightgrey;
}

.shape-selectors {
  position: fixed;
  bottom: 30px;
  display: flex;
  justify-content: center;
  width: 100vw;
  padding: 0px 50px;
}

.shape-selector {
  max-width: 40px;
  max-height: 40px;
  padding: 7px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

svg {
  overflow: visible;
}

.shape-selector svg path {
  stroke: black;
  stroke-width: 30px;
}

.shape-selectors.hoverable div svg:hover path:not(.not-hoverable) {
  stroke: grey;
  fill: grey;
  cursor: pointer;
}

.path-selector {
  position: absolute;
  top: -30px;
  padding: 3px 10px;
  font-size: 11px;
  color: rgb(140, 140, 140);
  border-color: rgb(140, 140, 140);
}

button.selected {
  color: white;
  background: black;
}

.shape-selectors:not(.hoverable) .shape-selector:hover button {
  color: black;
  border-color: black;
}

.shape-selector svg path.not-hoverable {
  fill: lightgrey;
  stroke: lightgrey;
}

.shape-selector svg path.selected:not(.not-hoverable) {
  fill: black;
  stroke: black;
  cursor: pointer;
}

#controls-panel {
  position: fixed;
  top: 20px;
  left: 20px;
  display: flex;
  flex-direction: column;
  z-index: 10;
}

.settings-panel {
  background: white;
  border: solid 1px black;
  border-radius: 15px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  width: 295px;
}

.settings-panel div:not(:last-child) {
  margin-bottom: 5px;
}

.settings-panel p {
  margin-bottom: 15px;
  opacity: 0.45;
  font-size: 15px;
}

button.download {
  padding: 15px;
  border-radius: 50px;
  transition: box-shadow 0.2s ease-in-out;
}

button.download:disabled {
  cursor: default;
}

input,
select,
.switch {
  margin-right: 10px;
  outline: none;
  padding: 5px 10px;
  width: 65px;
  border: solid 1px black;
  border-radius: 20px;
  height: 28px;
  font-size: 13px;
}

select {
  padding: 5px;
  text-overflow: ellipsis;
}

label {
  font-size: 13px;
}

div span {
  color: rgb(160, 160, 160);
  margin-left: 5px;
  font-size: 13px;
}

#loop-control {
  display: flex;
  align-items: center;
}

.switch {
  position: relative;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.switch-dot {
  left: 5px;
  width: 18px;
  height: 18px;
  background: rgb(170, 170, 170);
  position: absolute;
  border-radius: 50%;
}

.switch.active .switch-dot {
  background: black;
  left: 40px;
}

.settings-panel div.switch {
  margin-bottom: 0;
}

#scanimate-button {
  margin-top: 10px;
  padding: 10px;
  background: black;
  color: white;
}

.displayable-canvas {
  position: absolute;
}

.displayable-canvas,
#grids,
.grid {
  max-width: 70vh;
  max-height: 70vh;
}

#loader {
  position: absolute;
  font-size: 5vw;
}

#grids {
  position: absolute;
}

#grid-slider {
  position: fixed;
  bottom: 80px;
  width: 1000px;
}

input[type='range']:focus {
  outline: none;
}

input[type='range'] {
  appearance: none;
  height: 38px;
  outline: none;
  border-radius: 30px;
  cursor: pointer;
  padding: 7px;
}

input[type='range']::-webkit-slider-thumb {
  appearance: none;
  width: 26px;
  height: 26px;
  background: black;
  border-radius: 30px;
  outline: none;
}

#grid-label {
  position: absolute;
  bottom: 55px;
}

#draw-playground:not(.hidden) {
  z-index: 1;
  position: absolute;
  background: white;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  max-height: 80vh;
  width: 55vw;
  max-width: 80vh;
  min-width: 600px;
}

#drawing-button {
  bottom: 120px;
  position: absolute;
  width: 150px;
  padding: 7px;
}

#draw-playground button {
  position: absolute;
  bottom: 30px;
  width: 130px;
  padding: 7px;
}

.draw-path {
  border: solid 1px black;
  height: 100%;
  width: 50%;
}

.draw-path svg {
  width: 100%;
  height: 100%;
}
