* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.shape {
  max-height: 80vh;
  width: 55vw;
  max-width: 80vh;
  min-width: 600px;
  padding: 80px;
}

#buttons {
  position: fixed;
  top: 30px;
}

button {
  background: white;
  border-radius: 20px;
  border: solid 1px black;
}

#video-button {
  width: 90px;
  padding: 7px;
}

button:disabled {
  color: lightgrey;
  border-color: lightgrey;
}

.shape-selectors {
  position: fixed;
  bottom: 30px;
  display: flex;
  justify-content: center;
  width: 100vw;
  padding: 0px 50px;
}

.shape-selector {
  max-width: 40px;
  max-height: 40px;
  padding: 7px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

svg {
  overflow: visible;
}

.shape-selector svg path {
  stroke: black;
  stroke-width: 30px;
}

.shape-selectors.hoverable div svg:hover path:not(.not-hoverable) {
  stroke: grey;
  fill: grey;
}

.path-selector {
  position: absolute;
  top: -30px;
  padding: 3px 10px;
  font-size: 11px;
  color: rgb(140, 140, 140);
  border-color: rgb(140, 140, 140);
}

button.selected {
  color: white;
  background: black;
}

.shape-selectors:not(.hoverable) .shape-selector:hover button {
  color: black;
  border-color: black;
}

.shape-selector svg path.not-hoverable {
  fill: lightgrey;
  stroke: lightgrey;
}

.shape-selector svg path.selected {
  fill: black;
  stroke: black;
}

#scanimation-settings {
  position: fixed;
  top: 50px;
  left: 50px;
}

#scanimation-settings div {
  margin-bottom: 10px;
}

input {
  margin-right: 10px;
  outline: none;
  padding: 5px 10px;
  width: 70px;
  border: solid 1px black;
  border-radius: 20px;
}

label {
  font-size: 14px;
}
